.board-wrapper{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 10px;
}

.row-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.card{
  border: 1px black solid;
  position: relative;
  display: inline-block;
}

.card > .board-tile-front{
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  color: yellow;
  backface-visibility:  hidden;
  transition: transform .5s linear 0s;
  transition: -webkit-transform .5s linear 0s;
} 

.card > .board-tile-back{
  position: relative;
  transform: perspective(600px) rotateY(180deg);
  background: blue;
  backface-visibility:  hidden;
  transition: transform .5s linear 0s;
  transition: -webkit-transform .5s linear 0s;
}

.board-tile-front-selected{
  transform: perspective(600px) rotateY(-180deg);
}

.board-tile-back-selected{
  transform: perspective(600px) rotateY(0deg);
}


img {
  width: 70%;
  height: 70%;
  display: block;
  position: relative;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.bla {
  border: 1px solid black;
}